*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 50px;
    border: 5px solid rgb(6, 4, 4);
}

.card1 {


  width: 200px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border: solid;
    border: solid rgb(6, 4, 4);
    /* margin:10px; */
    border-radius: 10px;
    gap: 0px;

}

.logo {
   width: 40PX;
    height: 40PX;
    color: white;
    border-radius:50%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

}
.details{
  padding: 10px;
  border: px solid red;
  display: flex;
  flex-direction: column;
  gap: 0px;
}