
.container {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}




.header{
  grid-area: header;
  text-align: center;
    border: solid;
    width: 90vh;
    height: 100px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;

}
.menu{
  grid-area: main;
    border: solid;

    height: 150px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    -ms-grid-row-span: 2;
}


}
.content{
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
  text-align: center;
}

